.spotlight-container {
  width: 100%;
  margin-top: 100px;
}

.spotlight-header {
  width: 80%;
  background-image: linear-gradient(#dee2ff, #f9faff);
  border-radius: 15px;
  margin: 48px auto;
  padding: 48px;
}

.spotlight-header h1 {
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 60px;
}

.spotlight-inner-div {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.spotlight-inner-div h2 {
  font-size: 32px;
  font-weight: 100;
}

.spotlight-inner-div button {
  width: 200px;
  font-size: 20px;
  padding: 16px;
  border-radius: 25px;
  background-color: transparent;
}

.spotlight-inner-div button:hover {
  background-color: #dee2ff;
  transition: 1.5s;
}

@media (max-width: 1200px) {
  .spotlight-header {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .spotlight-inner-div {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 24px;
  }
  .spotlight-header h1 {
    font-size: 60px;
  }
  .spotlight-inner-div button {
    font-size: 18px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .spotlight-header h1 {
    font-size: 45px;
  }

  .spotlight-inner-div {
    margin-bottom: 1rem;
  }

  .spotlight-inner-div h2 {
    font-size: 16px;
  }

  .spotlight-inner-div button {
    width: 160px;
    font-size: 12px;
  }
}
