.registration-form-container {
  width: 60%;
  margin: 120px auto;
}

.header-logo img {
  width: 10%;
}
.header-content h1 {
  font-size: 50px;
  margin: 16px 0;
  line-height: 50px;
}
.header-content h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 16px 0;
}
.header-content p {
  font-weight: bold;
  margin: 24px 0;
}
.header-content h4 {
  color: blue;
  margin: 16px 0;
}
.registration-form-content label {
  font-size: 16px;
  padding-bottom: 6px;
}
.registration-form-content input {
  border-radius: 5px;
  padding: 8px;
  width: 50%;
  margin-bottom: 25px;
}

.registration-form-content h3 {
  margin-bottom: 10px;
}

.registration-form-content h2 {
  font-weight: 100;
  margin-bottom: 12px;
}

.registration-form-content select {
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin-bottom: 16px;
}
.registration-form-content textarea {
  border-radius: 5px;
  padding: 0px 40px 40px 0px;
  width: 100%;
}
.registration-form-content button {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
}
.registration-form-content h2 {
  color: rgb(66, 66, 169);
  font-size: 18px;
}

.table {
  border: 1px solid rgb(156, 156, 156);
  border-collapse: collapse;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.table th,
.table td {
  border: 1px solid rgb(158, 157, 157);
  text-align: center;
  font-weight: 600;
   position: sticky; 
  left: 0;
  white-space: wrap;
  background-color: white;
}
#scroll-prop {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .registration-form-container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .registration-form-container {
    width: 80%;
  }

  .header-logo img {
    width: 20%;
  }

  .header-content h1 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .registration-form-container {
    width: 90%;
  }
  .header-content h1 {
    font-size: 25px;
  }
  .header-content h3 {
    font-size: 16px;
  }
  .registration-form-content input {
    width: 100%;
  }
  .table {
    overflow-x: auto;
    white-space: nowrap;
  }
  #scroll-prop {
    overflow: scroll;
  }
  .registration-form-content textarea {
    max-width: 90%;
  }
}
