.home-container {
  width: 100%;
  margin-top: 100px;
}

.home-header {
  width: 80%;
  background-image: linear-gradient(#dee2ff, #f9faff);
  border-radius: 15px;
  margin: 48px auto;
  padding: 48px;
}

.home-header h1 {
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 80px;
}

.home-inner-div {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.home-inner-div h2 {
  font-size: 32px;
  font-weight: 100;
}

.home-inner-div button {
  width: 200px;
  font-size: 18px;
  padding: 16px;
  border-radius: 25px;
  background-color: transparent;
}

.home-inner-div button:hover {
  background-color: #dee2ff;
  transition: 1.5s;
}

.hr-1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.Search {
  border-bottom: 1px solid;
  width: 300px;
  margin: 0px 0px 0px 160px;
  display: flex;
}

.Search input {
  border: none;
  width: 80%;
  font-size: 30px;
}

.Search input:focus {
  outline: none;
  border-color: #abdeeb;
  border-radius: 0;
}

.serch-icon {
  margin: 20px 0 0 0px;
  height: 30px;
  width: 60px;
}

.filter-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.filter-section select {
  position: relative;
  width: 200px;
  /* text-wrap: wrap; */
  /* text-align: left; */
  background-color: #d3e3fa;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  border: none;
  border-radius: 50px;
  white-space: normal;
  padding: 20px 20px;
}

.filter-section select:hover {
  background: #b6ceff;
}

.home-card {
  padding: 24px 12px;
  display: flex;
  border-bottom: 0.5px solid rgb(250, 224, 250);
}

.home-card:hover {
  background-color: #edeffb;
}

.home-card img {
  width: 50px;
  vertical-align: middle;
  margin: 0px 5px;
}

.home-card p {
  width: 27%;
  display: flex;
  justify-content: end;
}

.db-img {
  margin: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.home-img {
  display: flex;
  align-items: center;
  width: 20%;
}

.home-img div p {
  display: inline-flex;
  justify-content: start;
  margin-left: 15px;
  width: 120px;
}

.home-sec {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}

.home-sec-header {
  display: flex;
  justify-content: space-between;
}

.home-sec-header .lst {
  margin-right: 3rem;
}

.home-sec-header h6 {
  margin-left: 7rem;

  font-size: 15px;
  font-weight: 400;
}

#button-1 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin: 5px 5px;
  color: #000;
  background: #d3d3fa;
  border: 1px white;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  height: 35px;
  width: fit-content;
  cursor: pointer;
}

.btn-1 {
  width: 25%;
  margin-right: 0px;
}

.btn-2 {
  display: flex;
  justify-content: end;
  width: 25%;
}

#button-2 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin: 5px 0px;
  color: #000;
  background: #abdeeb;
  border: 1px white;
  border-radius: 10px;
  font-size: 13px;
  height: 35px;
  width: fit-content;
  cursor: pointer;
}

.load-more-btn {
  margin: 20px auto;
  display: block;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid;
  background-color: #fff;
}

.load-more-btn:hover {
  background-color: #f5c9f2;
}

/* --------------------------------- Responsive Styles ---------------------*/
@media (max-width: 1200px) {
  .home-header {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .home-inner-div {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 24px;
  }
  .home-header h1 {
    font-size: 60px;
  }
  .home-inner-div button {
    padding: 12px;
  }

  .hr-1 {
    width: 90%;
  }

  .Search {
    flex-wrap: wrap;
    justify-content: center;
    width: 88%;
    margin: 16px 20px;
  }

  .Search input {
    font-size: 24px;
    width: 85%;
    margin-bottom: 8px;
  }

  .serch-icon {
    margin: 0 auto;
    height: 24px;
    width: 48px;
  }

  .filter-section {
    flex-wrap: wrap;
    justify-content: center;
    justify-content: start;
    margin: 0px 20px;
    padding: 0 25px;
  }

  .filter-section select {
    width: 88%;
    margin: 8px 0px;
  }

  .home-card {
    flex-wrap: wrap;
    align-items: center;
  }

  .home-card img {
    width: 40px;
    margin: 5px 0;
  }

  .home-card p {
    width: 100%;
    text-align: center;
  }

  .home-sec {
    width: 90%;
    margin: 32px auto;
    display: flex;
    border: 1px solid black;
  }

  .home-sec-header {
    justify-content: space-evenly;
    justify-items: center;
  }

  .home-sec-header .lst {
    margin-bottom: 16px;
  }

  .home-sec-header h6 {
    font-size: 14px;
    margin: 0 20px;
    text-align: center;
    display: flex;
  }

  /* #button-1 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    /* margin: 5px 5px; */
  /* color: #000;
    background: #d3d3fa;
    border: 1px white;
    border-radius: 10px;
    font-size: 13px; */
  /* font-weight: 400;
    height: 35px; */
  /* width: fit-content; */
  /* cursor: pointer;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    border-bottom: 1px solid #d3d6e966;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr 2fr 1.5fr;
    grid-auto-columns: 1fr;
    place-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    display: grid;
  } */

  #button-2 {
    width: fit-content;
    margin: 10px auto;
    font-size: 12px;
    height: 30px;
    padding: 5px 8px;
  }

  .btn-1,
  .btn-2 {
    justify-content: center;
    width: 100%;
    margin: 8px 0;
  }

  .load-more-btn {
    font-size: 18px;
    padding: 12px 24px;
  }
}

@media (max-width: 480px) {
  .home-header {
    padding: 30px;
  }

  .home-header h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .home-inner-div {
    margin-bottom: 1rem;
  }

  .home-inner-div h2 {
    font-size: 16px;
  }

  .home-inner-div button {
    width: 160px;
    font-size: 12px;
  }

  .Search {
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .Search input {
    font-size: 18px;
    width: 90%;
    margin-bottom: 10px;
  }

  .serch-icon {
    margin: 10px 0 0 0;
    height: 24px;
    width: 48px;
  }

  .filter-section {
    flex-direction: column;
    margin: 20px 5%;
    width: 90%;
  }

  .filter-section select {
    width: 100%;
    margin: 10px 0;
  }

  .home-card {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }

  .home-card img {
    width: 40px;
    margin: 5px 0;
  }

  .home-card p {
    width: 100%;
    justify-content: center;
  }

  .home-sec {
    width: 90%;
    margin: 24px 5% 0;
  }

  .home-sec-header {
    flex-direction: column;
    align-items: center;
  }

  .home-sec-header .lst {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .home-sec-header h6 {
    margin-left: 0;
    font-size: 14px;
    text-align: center;
  }

  #button-1,
  #button-2 {
    margin: 10px auto;
    width: 90%;
    height: 40px;
    font-size: 14px;
  }

  .load-more-btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}
