/* Home Banner CSS */
.home-container {
  width: 100%;
  margin-top: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-header {
  width: 80%;
  background-image: linear-gradient(#dee2ff, #f9faff);
  border-radius: 25px;
  margin: 35px auto;
  padding: 48px;
}

.home-header h1 {
  margin-left: 42px;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 82px;
  line-height: 80px;
}

.home-header hr {
  margin-left: 42px;
  width: 90%;
}

.home-inner-div {
  display: flex;
  justify-content: space-between;
  margin: 32px 42px;
}

.home-inner-div h2 {
  font-size: 32px;
  font-weight: 100;
}

.home-inner-div button {
  margin-right: 24px;
  width: 220px;
  font-size: 18px;
  padding: 12px;
  border-radius: 25px;
  background: linear-gradient(
    to top right,
    #dee2ff,
    #dee2ff 50%,
    transparent 50%
  );
  background-size: 200% 200%;
  background-position: bottom left;
  border: 1px solid black;
  cursor: pointer;
  transition: background-position 1.5s ease-in-out;
  color: #000; /* Text color */
  overflow: hidden;
}

.home-inner-div button:hover {
  background-position: top right;
}

.hr-1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* Dropdown Menus CSS */
.filter-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 15px;
  margin: -10px 150px 0px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  appearance: none;
  width: 225px;
  height: 55px;
  text-align: start;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-left: -5px !important;
  border-radius: 30px !important;

  border-color: transparent;
  background-image: url(../../assets/arrow.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.sector-dropdown-menu {
  width: 320px;
}

.dataset-dropdown-menu {
  text-size-adjust: 120%;
}

.dropdown-container .dropdown-menu {
  max-height: 350px;
  position: absolute;
  background-color: #eaeaff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  margin-bottom: 8px;
}
.dropdown-item :hover {
  background-color: #dee2ff;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item label {
  font-size: 14px;
  cursor: pointer;
}

.dropdown-option {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 10px;
}

.dropdown-option:hover {
  background-color: #dee2ff;
}

/* Search Button CSS */
.Search {
  border-bottom: 1px solid;
  width: 350px;
  margin: 0px 0px 0px 210px;
  display: flex;
}

.Search input {
  border: none;
  width: 100%;
  font-size: 30px;
}

.Search input:focus {
  outline: none;
  border-color: #abdeeb;
  border-radius: 0;
}

.serch-icon {
  margin: 20px 0 0 0px;
  height: 30px;
  width: 50px;
}

/* Selected Filters (Tags) CSS */
.selected-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  margin-left: 150px;
  margin-top: 10px;
  width: 80%;
}

.tag {
  background-color: #eae8ff;
  border-radius: 16px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.remove-tag {
  margin-left: 8px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

/* Main Home Section CSS */
.home-sec {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}

.home-sec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-sec-header h6 {
  padding: 0 5rem;

  font-size: 15px;
  font-weight: 500;
}

.home-sec-name {
  margin-left: 35px;
}

.home-card {
  padding: 24px 12px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgb(250, 224, 250);
}

.home-card:hover {
  background-color: #edeffb;
}

.home-card img {
  width: 50px;
  vertical-align: middle;
}

.home-card p {
  width: 27%;
  display: flex;
  justify-content: end;
}

.db-img {
  margin: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.home-img {
  display: flex;
  align-items: center;
  width: 20%;
}

.home-img div p {
  display: inline-flex;
  justify-content: start;
  margin-left: 5px;
  width: 120px;
}

.btn-1,
.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  flex-direction: row;
  gap: 5px;
  margin-left: 35px;
}

.btn-1 {
  margin-right: 30px;
}

.btn-2 {
  margin-right: -100px;
}

#button-1,
#button-2 {
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px 0;
  color: #000;
  background: #d3d3fa;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 13px;
  height: 35px;
  width: fit-content;
  cursor: pointer;
}

#button-2 {
  background: #e5e5e5; /* For button 2 */
}

.load-more-btn {
  margin: 20px auto;
  display: block;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid;
  background-color: #e0e0ff;
}

.load-more-btn:hover {
  background-color: #c8c8ff;
}

/* --------------------------------- Responsive Styles ---------------------*/
@media (max-width: 1200px) {
  .home-header {
    width: 90%;
  }
}

@media (max-width: 1024px) and (min-width : 769px) {
  .home-container {
    margin-top: 40px;
  }

  .home-header {
    height: 35rem;
    margin-top: 55px;
    border-radius: 25px;
  }

  .home-header h1 {
    font-size: 80px;
    margin-top: 20px;
  }

  .home-inner-div {
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 24px;
  }

  .home-inner-div button {
    padding: 5px;
    height: 70px;
    width: 200px;
  }

  .hr {
    max-width:86%;
  }

  .hr-1 {
    width: 90%;
  } 

  .filter-section {
    display: flex;
    flex-direction: row;
    gap: 15px; 
  }

  .dropdown-container {
    margin-top: -5px;
  }

  .dropdown-button {
    max-width: 240px;
  }

  .dropdown-menu {
    font-size: 17px;
  }

  .stage-dropdown-menu {
    text-size-adjust: 90%;
  }

  .sector-dropdown-menu {
    text-size-adjust: 90%;
  }

  .Search {
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
    margin: 24px;
    margin-left: -5px;
  }

  .Search input {
    font-size: 24px;
    width: 85%;
  }

  .serch-icon {
    margin: 10px auto;
    height: 24px;
    width: 48px;
  }

  .filter-section {
    flex-wrap: wrap;
    justify-content: center;
    justify-content: start;
    margin: 0px 20px;
    padding: 0 25px;
  }

  .selected-filters {
    margin-left: 30px;
    width: 90%;
  }

  .home-sec {
    /* margin: 1rem 60px; */
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .home-sec-header h6 {
    padding: 1px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
  }

  .home-sec-name {
    margin-left: 60px;
  }

  .home-card {
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(250, 224, 250);
    margin-left: -15px;
    font-size: 16px;
  }

  .home-card img {
    width: 55px;
    margin: 5px 10px;
  }

  .home-card p {
    width: 100%;
    text-align: center;
    margin-right: 20px;
  }

  .db-img {
    /* margin: 20px; */
    border-radius: 8px;
    object-fit: cover;
  }

  .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }

  .home-img div p {
    display: inline-flex;
    justify-content: start;
    /* margin-left: -10px; */
    width: 120px;
  }

  .btn-1,
  .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* gap: 25px; */
  }

  .btn-1 {
    margin-left: 95px;
  }

  .btn-2{
    margin-left: 145px;
  }

  #button-1,
  #button-2 {
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px 10px;
    color: #000;
    background: #d3d3fa;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 13px;
    height: 45px;
    width: fit-content;
    cursor: pointer;
  }

  #button-2 {
    background: #e5e5e5;
  }

  .load-more-btn {
    font-size: 18px;
    padding: 12px 24px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .home-container {
    width: 100%;
    margin-top: 25px;
    margin-left: 5px;
  }

  .home-header {
    height: 28rem;
    margin-top: 55px;
    margin-left: 35px;
    /* margin-right: -1px; */
    border-radius: 25px;
  }

  .home-header h1 {
    margin-top: 10px;
    /* margin-left: -20px; */
    font-size: 40px;
    line-height: 40px;
  }

  .home-header hr {
    width: 90%;
    /* margin-left: -20px; */
    margin-top: 100px;
  }

  .home-inner-div {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1rem;
  }

  .home-inner-div h2 {
    margin-top: -20px;
    /* margin-left: -55px; */
    font-size: 22px;
  }

  .home-inner-div button {
    width: 250px;
    font-size: 20px;
    margin-right: 70px;
    margin-top: 15px;
  }

  .hr-1 {
    width: 88%;
    margin-right: 50px;
    margin-top: 5px;
  }

  .filter-section {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 5%;
    gap: 15px;
  }

  .dropdown-container {
    margin-top: -5px;
  }

  .dropdown-button {
    max-width: 220px;
  }

  .dataset-dropdown-button {
    font-size: 20px !important;
  }

  .dropdown-menu {
    height: 250px;
    /* font-size: 16px; */
  }

  .sector-dropdown-menu {
    width: 250px;
    text-size-adjust: 90%;
  }

  .dataset-dropdown-menu {
    height: 180px;
    text-size-adjust: 120%;
  }

  .stage-dropdown-menu {
    text-size-adjust: 90%;
  }

  .Search {
    flex-direction: row;
    margin: 0;
    width: 60%;
    margin-left: 55px;
    margin-right: -20px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .Search input {
    font-size: 24px;
    width: 90%;
  }

  .serch-icon {
    margin: 10px 0 0 0;
    height: 24px;
    width: 48px;
  }

  .selected-filters {
    margin-left: 30px;
    width: 90%;
  }

  .home-sec {
    margin: 1rem 60px;
    display: flex;
    flex-direction: column;
  }

  .home-sec-header h6 {
    padding: 1px;
    font-size: 15px;
    font-weight: 500;
    margin-right: -20px;
  }

  .home-sec-name {
    margin-left: 40px;
  }

  .home-card {
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(250, 224, 250);
    margin-left: -200px;
    font-size: 15px;
  }

  .home-card img {
    width: 50px;
    vertical-align: middle;
  }

  .home-card p {
    /* width: 13%; */
    display: flex;
    justify-content: end;
    margin-right: -120px;
    /* margin-right: -50px; */
  }

  .db-img {
    margin: 20px;
    border-radius: 8px;
    object-fit: cover;
  }

  .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }

  .home-img div p {
    display: inline-flex;
    justify-content: start;
    margin-left: -10px;
    width: 120px;
  }

  .btn-1,
  .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
  }

  .btn-1 {
    margin-right: -20px;
  }

  #button-1,
  #button-2 {
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px 0;
    color: #000;
    background: #d3d3fa;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 12px;
    height: 35px;
    width: fit-content;
    cursor: pointer;
  }

  #button-2 {
    background: #e5e5e5;
  }

  .load-more-btn {
    width: 26%;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .home-container {
    width: 95%;
    margin-top: 10px;
  }

  .home-header {
    height: 28rem;
    margin-top: 20px;
    margin-left: 24px;
    border-radius: 25px;
  }

  .home-header h1 {
    margin-top: -25px;
    margin-left: -10px;
    font-size: 35px;
    line-height: 40px;
  }

  .home-header hr {
    width: 120%;
    margin-left: -20px;
    margin-top: -40px;
  }

  .home-inner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1rem;
  }

  .home-inner-div h2 {
    margin-top: -15px;
    margin-left: -55px;
    font-size: 16px;
  }

  .home-inner-div button {
    width: 200px;
    font-size: 14px;
    margin-right: 70px;
    margin-top: 15px;
  }

  .hr-1 {
    width: 85%;
    margin-right: 16px;
    margin-top: -15px;
  }

  .filter-section {
    flex-direction: column;
    margin: 20px;
    margin-left: 10px;
    width: 90%;
  }

  .dropdown-container {
    margin-top: -5px;
    margin-left: 12px;
  }

  .dropdown-button {
    max-width: 180px;
  }

  .dropdown-menu {
    height: 200px;
  }

  .sector-dropdown-menu {
    width: 230px;
  }

  .Search {
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    margin-left: 10px;
    width: 95%;
    /* margin-top: 10px; */
  }

  .Search input {
    font-size: 20px;
    width: 90%;
  }

  .serch-icon {
    margin: 10px 0 0 0;
    height: 24px;
    width: 48px;
  }

  .selected-filters {
    margin-left: 20px;
    width: 90%;
  }

  .home-sec {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    /* padding-left: 10px; */
    width: 80%;
    margin-top: 30px;
  }

  .home-sec-header {
    display: none;
  }

  .home-card {
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(250, 224, 250);
    margin-left: -125px;
    font-size: 14px;
  }

  .home-card img {
    width: 50px;
    vertical-align: middle;
    margin: 5px 25px;
  }

  .home-card p {
    width: 42%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  #button-1,
  #button-2 {
    display: none;
  }

  .load-more-btn {
    width: 110px;
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
}
