.about-container {
  width: 100%;
}

.about-container h1 {
  margin: 10rem 0 5rem 0;
  text-align: center;
}

.about-container span {
  color: rgb(105, 39, 218);
}

.about-container p {
  text-align: center;
  font-size: 18px;
}

.about-main-div {
  width: 60%;
  margin: 2.5rem auto;
}

.about-main-div img {
  width: 100%;
}

.about-main-buttons {
  width: 400px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}

.about-main-buttons button {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #4a3aff;
}

.about-main-button1 {
  background-color: #4a3aff;
  color: white;
}

.about-main-button1:hover {
  background-color: white;
  color: #4a3aff;
}

.about-main-button2 {
  background-color: white;
  color: #4a3aff;
}

.about-main-button2:hover {
  background-color: #4a3aff;
  color: white;
}

.scrolling {
  display: flex;
  overflow: hidden;
}

.scrolling-content {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex: none;
  order: 0;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  display: flex;
  margin: 2rem;
}

.scroll {
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.testimonial {
  width: 100%;
}

.testimonial-header {
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.testimonial-header h1 {
  font-size: 50px;
  margin: 1rem 0;
}

.testimonial-header button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: 900;
  background-color: white;
  border: 1px solid gray;
}

.testimonial-header button:hover {
  background-color: #4a3aff;
  color: white;
}

.testimonial-cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.testimonial-cards::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  width: 330px;
  border: 1px solid gray;
  border-radius: 10px;
  flex: 0 0 auto;
}

.testimonial-info {
  display: flex;
  width: 100%;
}

.info-image-div {
  width: 30%;
}

.info-image-div img {
  width: 80%;
  margin: 1rem 0.5rem;
  border-radius: 50%;
}

.info-name-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-name-div h4 {
  font-weight: 200;
}

.testimonial-card p {
  padding: 0 1rem 1rem 1rem;
  text-align: start;
}

@media (max-width: 1024px) {
  .about-main-div {
    width: 75%;
  }

  .testimonial-header {
    width: 530px;
  }

  .testimonial-header h1 {
    font-size: 30px;
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  .about-main-div {
    width: 90%;
  }

  .testimonial-header {
    width: 460px;
  }

  .testimonial-header h1 {
    font-size: 25px;
    margin: 1rem 0;
  }

  .testimonial-header button {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .about-main-buttons {
    width: 300px;
  }
  .about-main-buttons button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .testimonial-header {
    width: 310px;
  }

  .testimonial-header h1 {
    font-size: 20px;
    margin: 1rem 0;
  }

  .testimonial-header button {
    width: 25px;
    height: 25px;
  }
}
