.about-container {
  width: 100%;
}

/* ------------------------------ About Header Section */

.about-container h1 {
  margin: 10rem 0 5rem 0;
  text-align: center;
  font-size: 2.5rem;
}

.about-container span {
  color: rgb(105, 39, 218);
}

.about-container p {
  text-align: center;
  font-size: 18px;
  margin: 0 1rem;
}

.about-main-div {
  width: 60%;
  margin: 2.5rem auto;
}

.about-main-div img {
  width: 100%;
}

.about-main-buttons {
  width: 400px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}

.about-main-buttons button {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #4a3aff;
}

.about-main-button1 {
  background-color: #4a3aff;
  color: white;
}

.about-main-button1:hover {
  background-color: white;
  color: #4a3aff;
}

.about-main-button2 {
  background-color: white;
  color: #4a3aff;
}

.about-main-button2:hover {
  background-color: #4a3aff;
  color: white;
}

/* ------------------------------ Testimonial Section */
.testimonial {
  width: 100%;
}

.testimonial h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}

.testimonial-cards {
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 79px;
}

.testimonial-card {
  border-radius: 12px;
  background-color: #f7f9fd;
  border: 1px solid #d9d9d9;
  min-width: 235px;
  text-align: center;
  padding: 23px 19px 36px;
  margin-left: 23px;
  margin-bottom: 20px;
}

.testimonial-card:first-of-type {
  margin-left: 0;
}

.testimonial-card img {
  max-width: 120px;
  border-radius: 50rem;
  height: 120px;
}

.testimonial-card h3 {
  text-align: center;
}

.testimonial-card h5 {
  font-weight: 300;
  line-height: 1.5;
}

.testimonial-cards::-webkit-scrollbar {
  display: none;
}

/* ------------------------------ About Last Section */
.about-lastdiv {
  width: 100%;
  background-color: #f7f9fd;
  padding: 4rem 0;
}

.about-lastdiv-cards {
  width: 75%;
  margin: 0 auto;
}

.about-lastdiv-card {
  width: 100%;
  margin-bottom: 2rem;
}

.about-odd-div,
.about-even-div {
  width: 100%;
  display: flex;
}

.about-lastdiv-card-image {
  width: 50%;
}

.about-lastdiv-card-image img {
  width: 100%;
}

.about-lastdiv-card-content {
  width: 50%;
  padding: 1rem 4rem;
}

.about-lastdiv-card-content h2 {
  font-size: 2rem;
}

.about-lastdiv-card-content li {
  font-size: 18px;
}

.about-lastdiv-card-content button {
  padding: 12px 24px;
  margin: 1rem 0;
  font-size: 1rem;
  border-radius: 12px;
  background-color: #4a3aff;
  color: white;
  border: 1px solid #4a3aff;
}

.about-lastdiv-card-content button:hover {
  background-color: white;
  color: #4a3aff;
}

/* ------------------------------------------------- Responsive Style */
@media (max-width: 1024px) {
  .about-main-div {
    width: 75%;
  }

  .testimonial h1 {
    font-size: 2rem;
  }

  .about-lastdiv-cards {
    width: 85%;
  }
  .about-lastdiv-card-content {
    padding: 0 2rem 0 4rem;
  }
}

@media (max-width: 768px) {
  .about-main-div {
    width: 90%;
  }

  .testimonial-header {
    width: 460px;
  }

  .testimonial-header h1 {
    font-size: 25px;
    margin: 1rem 0;
  }

  .testimonial-header button {
    width: 40px;
    height: 40px;
  }

  .about-lastdiv-card-content {
    width: 100%;
    padding: 1rem 2rem;
  }
  .about-lastdiv-card-image {
    width: 100%;
  }
  .about-odd-div {
    flex-wrap: wrap;
  }
  .about-even-div {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 480px) {
  .about-main-buttons {
    width: 300px;
  }
  .about-main-buttons button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .testimonial-header {
    width: 310px;
  }

  .testimonial-header h1 {
    font-size: 20px;
    margin: 1rem 0;
  }

  .testimonial-header button {
    width: 25px;
    height: 25px;
  }

  .about-lastdiv {
    padding-bottom: 1rem;
  }
  .about-lastdiv-cards {
    width: 95%;
  }
  .about-lastdiv-card-content {
    padding: 2rem 0 2rem 2rem;
  }
  .about-lastdiv-card-content h2 {
    font-size: 1.5rem;
  }
  .about-lastdiv-card-content li {
    font-size: 1rem;
  }
}
