/* General Styles */

.launchpad-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px !important;
}
.hero-section {
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 80vh;
}
.upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.card {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  background-image: linear-gradient(#dee2ff, #f9faff);
  border-radius: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px auto; /* Increase margin from top and bottom */
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-para p {
  color: #4e5374;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  margin: 20px; /* Default margin */
}

@media (min-width: 480px) {
  .card {
    padding: 30px;
    font-size: 20px;
    margin: 50px auto; /* Adjust margin for small screens */
  }
  .card-para p {
    margin: 15px; /* Adjust margin for small screens */
  }
}

@media (min-width: 768px) {
  .card {
    padding: 40px;
    font-size: 24px;
    margin: 60px auto; /* Adjust margin for medium screens */
  }
  .card-para p {
    margin: 20px; /* Adjust margin for medium screens */
  }
}

@media (min-width: 1024px) {
  .card {
    padding: 60px;
    font-size: 32px;
    margin: 80px auto; /* Adjust margin for large screens */
  }
  .card-para p {
    margin: 25px; /* Adjust margin for large screens */
  }
}

@media (min-width: 1200px) {
  .card {
    padding: 80px;
    font-size: 36px;
    margin: 100px auto; /* Adjust margin for extra-large screens */
  }
  .card-para p {
    margin: 30px; /* Adjust margin for extra-large screens */
  }
}

.heading {
  color: #2f3246;
  letter-spacing: -0.02em;
}
.lower-section {
  display: flex;
  justify-content: space-between;
  margin-top: 6.5rem;
  border-top: 1px solid #b5a1cf;
  flex-wrap: wrap;
}
.card-para {
  padding-top: 0px;
}
.heading {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card-para p {
  color: #4e5374;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.post-button {
  

  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color:  #2f3246;
  border: 1px solid #2f3246;
  border-radius: 48px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden; 
}

.post-button:hover {
  background-color: #efeffe;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

} 

.arrow {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

/* Responsive design */
@media (max-width: 850px) {
  .upper-section {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 1rem;
  }
  .heading {
    padding-top: 40px;
    font-size: 3.2rem !important;
  }
  .card {
    padding: 20px;
    margin: 0;
    height: 120%;
    /* margin:50px; */
    /* padding-left:5px;
      padding-right:8px; */
  }
  .card-para p {
    font-size: 30px;
  }

  .button-container NavLink {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}

/* Filters */
.filters {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
  border-top: 1px solid #d0cfd2;
  padding-top: 30px;
}

.dropdown-container {
  position: relative;
}
.dropdown-menu label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 15px;
}

.dropdown-button {
  display: block;
  padding: 10px 25px;
  margin: auto;
  background-color: #e0e0ff;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.dropdown-button:hover {
  background-color: #c8c8ff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #e0e0ff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  min-width: 180px;
  max-height: 210px;
  overflow: overlay;
  overflow-x: hidden;
  
}

/* .dropdown-menu label {
    padding: 10px 15px;
    cursor: pointer;
  } */

.dropdown-menu label:hover {
  background-color: #c8c8ff;
}

/* Job Table */
.job-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: none;
  border-bottom: 0.5px solid rgb(250, 224, 250);
}

.job-table th,
.job-table td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  border: none;
  border-bottom: 0.5px solid rgb(250, 224, 250);
}

.job-table th {
  font-weight: bold;
}

.job-table tr:hover {
  background-color: #f9f9ff;
}
.description {
  display: block;
  min-width:100px;
  padding: 10px 10px;
  margin: auto;
  background-color: #e0e0ff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.description:hover {
  background-color: #c8c8ff;
}

.firm-logo {
  width: 58px;
  height: 58px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 8px;
  object-fit: cover;
}

/* Load More Button */
.load-more {
  display: block;
  padding: 10px 25px;
  margin: auto;
  background-color: #e0e0ff;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.load-more:hover {
  background-color: #c8c8ff;
}
/* .selected-filters{
    display: flex;
    flex-direction: row;
  } */
.selected-filters h5 {
  /* display: block; */
  padding: 10px 25px;
  /* margin:; */
  background-color: #e0e0ff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.selected-filters h5:hover {
  background-color: #c8c8ff;
}
.selected-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.firm-container {
  display: flex;
  align-items: center; /* Aligns logo and firm name vertically */
}

.firm-container span {
  margin-left: 10px; /* Adds space between the logo and firm name */
}
@media (max-width: 375px) {
  .dropdown-button,
  .dropdown-menu label {
    font-size: 14px;
  }
}
@media (max-width: 760px) {
  /* Ensure only the first and fourth columns are visible */
  .job-table th:nth-child(1),
  .job-table th:nth-child(4),
  .job-table td:nth-child(1),
  .job-table td:nth-child(4) {
    display: table-cell; /* Ensure these columns are visible */
  }

  .job-table th:nth-child(n + 2):not(:nth-child(4)),
  .job-table td:nth-child(n + 2):not(:nth-child(4)) {
    display: none;
  }
}
