.privacy-policy-container {
  width: 80%;
  margin: 100px auto;
  padding-top: 50px;
  line-height: 1.5rem;
}

@media (max-width: 480px) {
  .privacy-policy-container {
    width: 90%;
    padding-top: 40px;
  }
}
