.privacy-policy-container {
  width: 80%;
  margin: 100px auto;
  padding-top: 50px;
  line-height: 1.5rem;
}

.privacy-policy-container h2 {
  font-size: 2rem;
  color: blue;
  margin-bottom: 8px;
}

.privacy-policy-container h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.privacy-policy-container h4 {
  font-size: 1.25rem;
  padding: 1rem 0;
}

@media (max-width: 480px) {
  .privacy-policy-container {
    width: 90%;
    padding-top: 40px;
  }
}
