/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 200px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  gap: 30px;
  color: #120202;
  list-style: none;
  padding-right: 120px;
}

.navbar-links a {
  text-decoration: none;
  color: #120202;
  font-weight: 500;
  font-size: 16px;
}
.navbar-links li {
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #ffffff;
  /* height: 50px; */
  width: fit-content;
}
.navbar-links li:hover {
  background-color: #eae7e7;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
  padding-right: 50px;
}
/* .menu-toggle::before,
  .menu-toggle::after,
  .menu-toggle span {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    margin: 5px auto;
    transition: transform 0.3s ease;
  } */

.dropdown-nav {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 100%;
  right: 2%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-top: 0.9rem !important;
  padding: 0.5rem 1rem;
  width: 700px;
  z-index: 2000;
  cursor: pointer;
}

.dropdown-nav-item {
  background-color: #eae7e7;
  min-width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.dropdown-nav-item3 {
  background-color: #eae7e7;
  min-width: 227px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-nav-item2 {
  background-color: #eae7e7;
  min-width: 330px;
  height: fit-content;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-nav-item:hover {
  background-color: hsl(0, 0%, 94%);
}
.dropdown-nav-item2:hover {
  background-color: hsl(0, 0%, 94%);
}
.dropdown-nav-item3:hover {
  background-color: hsl(0, 0%, 94%);
}
.dropdown-nav-item h3,
.dropdown-nav-item2 h3,
.dropdown-nav-item3 h3 {
  margin: 0;
  font-size: 1rem;
}

.dropdown-nav-item p,
.dropdown-nav-item2 p,
.dropdown-nav-item3 p {
  margin: 5px 0 0;
  color: #666;
  font-size: 0.8rem;
}
.dropdown-nav-icon {
  font-size: 50px;
  padding-top: 0.5rem !important;
}
.navbar-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

/* @media (max-width: 400px) and (min-width:300px){
  .navbar-logo img {
    width: 150px;
    margin-right: 5px;
  }
  .menu-toggle {
    display: block;
    padding-right: 50px;
  }
  .dropdown-nav {
    position: absolute;
    width: 95%;
    /* min-height: 100PX; 
    background-color: #ffffff;
    left:0%;
    padding:0.2rem;
    box-shadow: none;
  
  }
  .dropdown-nav-item {
    background-color: #EEEEEE;
    min-width:40%;
    height: 50px;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
  }

  .dropdown-nav-item2 {
    background-color: #EEEEEE;
    width: 20%;
    height: 50px;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
} */

@media (max-width: 958px) and (min-width: 320px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .navbar-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
  .dropdown-nav {
    position: relative;
    width: 90vw;
    min-height: 150px;
    background-color: #ffffff;
    left: 2%;
    box-shadow: none;
    flex-wrap: wrap;
  }
  /* .dropdown-item {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    
    z-index: 1000;
    width: 350px;
  } */
  .dropdown-nav-item {
    background-color: #eae7e7;
    width: 30%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .dropdown-nav-item2 {
    background-color: #eae7e7;
    min-width: 100px;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .dropdown-nav-item h3 {
    margin: 0;
    font-size: 1rem;
  }

  .dropdown-nav-item p {
    margin: 2px 0 0;
    color: #666;
    font-size: 0.5rem;
  }
  .dropdown-nav-icon {
    font-size: 20px;
    padding-top: 3rem;
  }
  .dropdown-nav-item:hover {
    background-color: #ffffff;
  }
  .dropdown-nav-item2:hover {
    background-color: #ffffff;
  }
  .navbar-links li {
    border-radius: 0px;
  }

  .navbar-links li:hover {
    background-color: #ffffff;
  }
  .navbar-links.open {
    box-shadow: none;
  }
}

@media (max-width: 2560px) and (min-width: 957px) {
  .menu-toggle {
    display: none;
  }
}
