.vcstack-container {
  width: 100%;
  margin-top: 100px;
}

.vcstack-header {
  width: 70%;
  background-image: linear-gradient(#dee2ff, #f9faff);
  border-radius: 15px;
  margin: 48px auto;
  padding: 48px;
}

.vcstack-header h1 {
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 32px;
}

.vcstack-inner-div {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.vcstack-inner-div h2 {
  font-size: 32px;
  font-weight: 100;
}

.vcstack-inner-div button {
  font-size: 20px;
  padding: 16px;
  border-radius: 50px;
  background-color: transparent;
}

.vcstack-inner-div button:hover {
  background-color: #dee2ff;
  transition: 1.5s;
}

@media (max-width: 998px) {
  .vcstack-header {
    width: 80%;
  }

  .vcstack-header h1 {
    font-size: 60px;
  }

  .vcstack-inner-div h2 {
    font-size: 24px;
  }

  .vcstack-inner-div button {
    font-size: 18px;
    padding: 12px;
  }
}

@media (max-width: 698px) {
  .vcstack-header {
    width: 85%;
  }

  .vcstack-header h1 {
    font-size: 50px;
  }

  .vcstack-inner-div h2 {
    font-size: 20px;
  }

  .vcstack-inner-div button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .vcstack-header {
    width: 90%;
    padding: 30px;
  }

  .vcstack-header h1 {
    font-size: 30px;
  }

  .vcstack-inner-div h2 {
    font-size: 16px;
  }

  .vcstack-inner-div button {
    font-size: 12px;
  }
}
