.footer-main-div {
  width: 100%;
  height: auto;
}

.footer-main-div hr {
  margin-bottom: 1rem;
}

.footer {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.footer-details {
  width: 25%;
}

.footer-details h4 {
  font-size: 1.25rem;
  color: blue;
  margin-bottom: 8px;
}

.footer-details ul {
  font-weight: 400px;
  font-size: 1rem;
}

.footer-details ul li {
  padding: 5px 0;
  display: flex;
}

.footer-details a {
  text-decoration: none;
  color: black;
}

.last-div {
  width: 100%;
}

.last-div h6 {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .footer {
    width: 80%;
    flex-wrap: wrap;
  }

  .footer-details {
    width: 45%;
    margin: 18px 0;
  }
}

@media (max-width: 480px) {
  .footer-details h4 {
    font-size: 16px;
  }

  .footer-details ul {
    font-size: 16px;
  }
}
