.footer-main-div {
  width: 100%;
  height: auto;
}

.footer-main-div hr {
  margin-bottom: 1rem;
}

.footer {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.footer-details {
  width: 25%;
}

.footer-details h4 {
  font-size: 1.25rem;
  color: blue;
  margin-bottom: 8px;
}

.footer-details ul {
  font-weight: 400px;
  font-size: 1rem;
}

.footer-details ul li {
  padding: 5px 0;
  display: flex;
}

.footer-details a {
  text-decoration: none;
  color: black;
}

.footer-last-div {
  width: 75%;
  margin: 2rem auto;
  display: flex;
}

.footer-logo {
  width: 24%;
}

.footer-logo svg {
  width: 4rem;
  cursor: pointer;
}

.footer-social {
  width: 38%;
}

.footer-social img {
  width: 2rem;
  cursor: pointer;
}

.footer-last-div h6 {
  width: 38%;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    width: 80%;
    flex-wrap: wrap;
  }

  .footer-details {
    width: 45%;
    margin: 18px 0;
  }

  .footer-last-div {
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-logo {
    width: 48%;
  }

  .footer-social {
    width: 48%;
  }

  .footer-last-div h6 {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .footer-details h4 {
    font-size: 16px;
  }

  .footer-details ul {
    font-size: 16px;
  }
}
