body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.cta-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .content-container {
      padding: 10px;
  }

  .text-content {
      text-align: center;
      margin-left: 0;
      margin-right: 0;
  }

  .bullet-points {
      text-align: left;
  }

  img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
  }

  .cta-button {
      font-size: 14px;
      padding: 8px 16px;
  }
}
.hero-content {
  margin-top: 100px;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#hero img {
  max-width: 100%;
  height: auto;
}

.hero-content {
  text-align: center;
  font-size: 1.5rem;
}

.cta-button#ctaButtonHero {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cta-button#ctaButtonHero:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #hero {
      padding: 15px;
  }
  
  .cta-button#ctaButtonHero {
      font-size: 14px;
      padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  #hero {
      padding: 10px;
  }

  .cta-button#ctaButtonHero {
      font-size: 14px;
      padding: 8px 16px;
  }
}


#about {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 15px; /* Reduced space between items */
}

#about img {
  width: 35%;
  max-width: 500px;
  height: auto;
  margin-right: 20px;
}

.text-content {
  max-width: 500px;
  font-size: 1rem;
  text-align: left;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-content p {
  margin-top: 10px;
}

.bullet-points {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.bullet-points li {
  margin-bottom: 10px; /* Reduced spacing */
}

.cta-button#ctaButtonInvestor {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button#ctaButtonInvestor:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #about img {
      width: 30%;
  }

  .text-content {
      max-width: 60%;
  }

  .cta-button#ctaButtonInvestor {
      font-size: 14px;
      padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  #about {
      flex-direction: column;
      padding: 10px;
  }

  #about img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
  }

  .text-content {
      text-align: center;
      margin-left: 0;
  }

  .cta-button#ctaButtonInvestor {
      font-size: 14px;
      padding: 8px 16px;
  }
}


#image2 {
  margin-top: 0px;
  margin-bottom:0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 15px; /* Reduced space between items */
}

#image2 img {
  order: 2;
  width: 40%;
  max-width: 500px;
  height: auto;
  margin-left: 20px;
}

.text-content {
  order: 1;
  max-width: 500px;
  font-size: 1rem;
  text-align: left;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-content p {
  margin-top: 10px;
}

.bullet-points {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.bullet-points li {
  margin-bottom: 10px; /* Reduced spacing */
}

.cta-button#ctaButtonPipeline {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button#ctaButtonPipeline:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #image2 img {
      width: 35%;
  }

  .text-content {
      max-width: 60%;
  }

  .cta-button#ctaButtonPipeline {
      font-size: 14px;
      padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  #image2 {
      flex-direction: column;
      padding: 10px;
  }

  #image2 img {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
  }

  .text-content {
      text-align: center;
  }

  .cta-button#ctaButtonPipeline {
      font-size: 14px;
      padding: 8px 16px;
  }
}

#image3 {
  margin-top: 00px;
  margin-bottom:0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 15px; /* Reduced space between items */
}

#image3 img {
  max-width: 100%;
  height: auto;
}

.text-content {
  max-width: 500px;
  font-size: 1rem;
  text-align: left;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-content p {
  margin-top: 10px;
}

.bullet-points {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.bullet-points li {
  margin-bottom: 10px; /* Reduced spacing */
}

.cta-button#ctaButtonMeeting {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button#ctaButtonMeeting:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .cta-button#ctaButtonMeeting {
      font-size: 14px;
      padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  #image3 {
      padding: 10px;
  }

  .cta-button#ctaButtonMeeting {
      font-size: 14px;
      padding: 8px 16px;
  }
}

#image4 {
  margin-top: 0px;
  margin-bottom: 0px; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 5px; /* Reduced space between items */
}

#image4 img {
  order: 2;
  width: 40%;
  max-width: 500px;
  height: auto;
  margin-left: 20px;
}

.text-content {
  order: 1;
  max-width: 500px;
  font-size: 1rem;
  text-align: left;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-content p {
  margin-top: 10px;
}

.bullet-points {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.bullet-points li {
  margin-bottom: 10px; /* Reduced spacing */
}

.cta-button#ctaButtonDataRoom {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button#ctaButtonDataRoom:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #image4 {
      flex-direction: column;
      padding: 10px;
      margin-bottom: 20px; 
  }
  #image4 img {
      width: 35%;
  }
  

  .text-content {
      max-width: 60%;
  }

  .cta-button#ctaButtonDataRoom {
      font-size: 14px;
      padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  #image4 {
      flex-direction: column;
      padding: 10px;
      margin-bottom: 20px; 
  }

  #image4 img {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
  }

  .text-content {
      text-align: center;
  }

  .cta-button#ctaButtonDataRoom {
      font-size: 14px;
      padding: 8px 16px;
  }
}
