.investor-card {
  width: 80%;
  background-color: #dee2ff;
  padding: 30px 60px;
  border-radius: 20px;
  margin: 120px auto;
  box-shadow: 0 4px 8px #adafbe;
}

.header-div {
  text-align: center;
  margin-top: 2rem;
}
.header h1 {
  font-size: 50px;
  color: #4e5374;
}

.logo-div {
  border-radius: 60%;
  display: inline;
  max-width: 60px;
}

.description {
  font-size: 18px;
  color: #333;
  margin: 20px 0;
  text-align: center;
  padding: 5px 0 15px 0;
}

.details {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.row:last-child {
  border-bottom: none;
}

.actions {
  text-align: center;
}

.actions-button {
  display: inline-table;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  background-color: #808fff;
}

.actions-button:hover {
  background-color: #596dff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #d6d4d4;
}

.row:last-child {
  border-bottom: none;
}

.row div:first-child {
  text-align: left;
  flex: 1;
}

.row div:last-child {
  text-align: right;
  flex: 1;
  color: #454242;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social-links a img {
  max-width: 30px;
  height: auto;
}

.back-button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-size: 18px;
  cursor: pointer;
  margin: 30px 0;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 15px;
  text-decoration: none;
}

.back-button:hover {
  background-color: #aeb4db;
  color: #fff;
}

@media (max-width: 1024px) {
  .investor-card {
    width: 85%;
    padding: 20px;
  }

  .header h1 {
    font-size: 36px;
  }

  .logo-div {
    max-width: 45px;
  }

  .description {
    font-size: 15px;
  }

  .actions-button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .investor-card {
    width: 90%;
    margin-bottom: 60px;
  }

  .header h1 {
    font-size: 32px;
  }

  .logo-div {
    max-width: 40px;
  }

  .description {
    font-size: 14px;
  }

  .social-links {
    gap: 8px;
  }

  .social-links a img {
    max-width: 20px;
  }

  .row div:first-child,
  .row div:last-child {
    font-size: 12px;
  }

  .actions-button {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .back-button {
    font-size: 12px;
  }

  .header h1 {
    font-size: 28px;
  }

  .logo-div {
    max-width: 35px;
  }

  .description {
    font-size: 13px;
  }
}
