<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India VC Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
</head>
<body>

  <div class="container">
    <h1>India VC Form</h1>
    <form method="post" action="/">
      {% if err_msg %}
          <div id="alerts" class="alert alert-danger" role="alert">{{err_msg}}</div>
      {% endif %}
      {% if success_msg %}
          <div id="alerts" class="alert alert-success" role="alert">{{success_msg}}</div>
      {% endif %}
        {% csrf_token %}
      <label for="name">Name:</label>
      <input class="form-control" type="text" id="name" name="uname" placeholder="Enter your name" required>

      <label for="firm-name">Firm Name:</label>
      <input class="form-control" type="text" id="firm-name" name="firm_name"    required>

      <label for="email">Email:</label>
      <input class="form-control" type="email" id="email" name="email"   required>

      <label for="founded-year">Founded Year:</label>
      <input class="form-control" type="number" id="founded-year" name="founder_year" placeholder="Enter founded year" required>

      <label for="ticket_size">Ticket Size:</label>
      <input class="form-control" type="text" id="ticket_size" name="ticket_size" placeholder="Enter ticket size" required>

      <label for="current_fund_size">Current Fund Size:</label>
      <input class="form-control" type="text" id="current_fund_size" name="current_fund_size" placeholder="Enter ticket size" required>

      <label for="aum">AUM:</label>
      <input class="form-control" type="text" id="aum" name="aum" placeholder="Enter ticket size" required>

      <label for="portfolio_count">Portfolio Count:</label>
      <input class="form-control" type="text" id="portfolio_count" name="portfolio_count" placeholder="Enter ticket size" required>

      <label for="portfolio_companies">Top Portfolio Companies:</label>
      <input class="form-control" id="portfolio_companies" name="portfolio_companies" placeholder="List top portfolio companies" required>
      
      <label for="prefer_lead_rounds">Do you prefer to lead rounds?</label>
      <select class="form-control" id="prefer_lead_rounds" name="prefer_lead_rounds">
        <option value=""></option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <br>
      <h6>Stage Focus 
        (Please select one of the three options for each stage.        
        For example, if you invest in Pre-Seed and Seed stages, then select either "Most often invest in" or "Opportunistically invest in" for those stages and select "Doesn't look at" for the rest of the stages
        Also if you're filling this in mobile please scroll to the right to find "Doesn't look at" option)
        </h6>
      <label for="sector-focus">Pre-Seed</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_pre_seed" id="inlineRadio1" value="Most often invests in">
        <label class="form-check-label" for="inlineRadio1">Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_pre_seed" id="inlineRadio2" value="Opportunistically invests in">
        <label class="form-check-label" for="inlineRadio2">Opportunistically invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_pre_seed" id="inlineRadio3" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3">Doesn't look at</label>
      </div>
<br>
      <label for="sector-focus">Seed</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_seed" id="inlineRadio11" value="Most often invests in">
        <label class="form-check-label" for="inlineRadio11">Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_seed" id="inlineRadio12" value="Opportunistically invests in">
        <label class="form-check-label" for="inlineRadio12">Opportunistically invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_seed" id="inlineRadio13" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio13">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Series A</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_a" id="inlineRadio21" value="Most often invests in">
        <label class="form-check-label" for="inlineRadio21">Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_a" id="inlineRadio22" value="Opportunistically invests in">
        <label class="form-check-label" for="inlineRadio22">Opportunistically invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_a" id="inlineRadio23" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio23">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Series B</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_b" id="inlineRadio31" value="Most often invests in">
        <label class="form-check-label" for="inlineRadio31">Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_b" id="inlineRadio32" value="Opportunistically invests in">
        <label class="form-check-label" for="inlineRadio32">Opportunistically invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_b" id="inlineRadio33" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio33">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Series C and beyond</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_c" id="inlineRadio41" value="Most often invests in">
        <label class="form-check-label" for="inlineRadio41">Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_c" id="inlineRadio42" value="Opportunistically invests in">
        <label class="form-check-label" for="inlineRadio42">Opportunistically invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_series_c" id="inlineRadio43" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio43">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Debt</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_debt" id="inlineRadio51" value="Most often invests in">
        <label class="form-check-label" for="inlineRadio51">Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_debt" id="inlineRadio52" value="Opportunistically invests in">
        <label class="form-check-label" for="inlineRadio52">Opportunistically invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="stage_focus_debt" id="inlineRadio53" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio53">Doesn't look at</label>
      </div>
      <br>
      <h6>Sector Focus (Please only select three top sectors in the first column)*</h6>
      <label for="sector-focus">AI/ML</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_ai_ml" id="inlineRadio61" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio61"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_ai_ml" id="inlineRadio62" value="Also invests in">
        <label class="form-check-label" for="inlineRadio62">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_ai_ml" id="inlineRadio63" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio63">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">AR/VR</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_ar_vr" id="inlineRadio71" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio71"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_ar_vr" id="inlineRadio72" value="Also invests in">
        <label class="form-check-label" for="inlineRadio72">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_ar_vr" id="inlineRadio73" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio73">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Agritech/Food</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_agritech_food" id="inlineRadio81" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio81"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_agritech_food" id="inlineRadio82" value="Also invests in">
        <label class="form-check-label" for="inlineRadio82">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_agritech_food" id="inlineRadio83" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio83">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Biotech/Life sciences</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_biotech_life_sciences" id="inlineRadio91" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio91"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_biotech_life_sciences" id="inlineRadio92" value="Also invests in">
        <label class="form-check-label" for="inlineRadio92">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_biotech_life_sciences" id="inlineRadio93" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio93">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Climate/Sustainability</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_climate_sustainability" id="inlineRadio01" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio01"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_climate_sustainability" id="inlineRadio02" value="Also invests in">
        <label class="form-check-label" for="inlineRadio02">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_climate_sustainability" id="inlineRadio03" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio03">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Consumer</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_consumer" id="inlineRadio1a" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1a"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_consumer" id="inlineRadio2s" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2s">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_consumer" id="inlineRadio3d" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3d">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Crypto/Blockchain</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_crypto_blockchain" id="inlineRadio1f" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1f"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_crypto_blockchain" id="inlineRadio2g" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2g">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_crypto_blockchain" id="inlineRadio3h" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3h">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Deep Tech/Hard Science</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_deep_tech" id="inlineRadio1j" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1j"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_deep_tech" id="inlineRadio2k" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2k">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_deep_tech" id="inlineRadio3l" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3l">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Education</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_education" id="inlineRadio1q" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1q"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_education" id="inlineRadio2w" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2w">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_education" id="inlineRadio3e" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3e">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Enterprise</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_enterprise" id="inlineRadio1r" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1r"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_enterprise" id="inlineRadio2t" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2t">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_enterprise" id="inlineRadio3y" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3y">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Media & Entertainment</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_media_entertainment" id="inlineRadio1u" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1u"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_media_entertainment" id="inlineRadio2u" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2u">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_media_entertainment" id="inlineRadio3i" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3i">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Fintech</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_fintech" id="inlineRadio1o" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1o"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_fintech" id="inlineRadio2p" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2p">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_fintech" id="inlineRadio3z" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3z">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Gaming</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_gaming" id="inlineRadio1x" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1x"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_gaming" id="inlineRadio2c" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2c">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_gaming" id="inlineRadio3v" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3v">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Government/Defence</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_government_defence" id="inlineRadio1b" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio1b"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_government_defence" id="inlineRadio2n" value="Also invests in">
        <label class="form-check-label" for="inlineRadio2n">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_government_defence" id="inlineRadio3m" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio3m">Doesn't look at</label>
      </div>
      <br>

      <label for="sector-focus">Health and Wellness</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_health_wellness" id="inlineRadio15" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio15"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_health_wellness" id="inlineRadio25" value="Also invests in">
        <label class="form-check-label" for="inlineRadio25">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_health_wellness" id="inlineRadio35" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio35">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Healthcare/Medtech</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_healthcare_medtech" id="inlineRadio16" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio16"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_healthcare_medtech" id="inlineRadio26" value="Also invests in">
        <label class="form-check-label" for="inlineRadio26">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_healthcare_medtech" id="inlineRadio36" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio36">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Industrial/IoT/ Robotics</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_industrial_iot_robotics" id="inlineRadio17" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio17"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_industrial_iot_robotics" id="inlineRadio27" value="Also invests in">
        <label class="form-check-label" for="inlineRadio27">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_industrial_iot_robotics" id="inlineRadio37" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio37">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Prop Tech/Real Estate</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_prop_tech_real_estate" id="inlineRadio18" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio18"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_prop_tech_real_estate" id="inlineRadio28" value="Also invests in">
        <label class="form-check-label" for="inlineRadio28">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_prop_tech_real_estate" id="inlineRadio39" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio39">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">SaaS/DevOps/Marketplace</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_saas_devops_marketplace" id="inlineRadio10" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio10"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_saas_devops_marketplace" id="inlineRadio20" value="Also invests in">
        <label class="form-check-label" for="inlineRadio20">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_saas_devops_marketplace" id="inlineRadio30" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio30">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Supply Chain/Logistics</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_supply_chain_logistics" id="inlineRadio11q" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio11q"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_supply_chain_logistics" id="inlineRadio21q" value="Also invests in">
        <label class="form-check-label" for="inlineRadio21q">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_supply_chain_logistics" id="inlineRadio31q" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio31q">Doesn't look at</label>
      </div>
      <br>
      <label for="sector-focus">Travel/Hospitality</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_travel_hospitality" id="inlineRadio12q" value=" Top Three Sector - Most often invests in">
        <label class="form-check-label" for="inlineRadio12q"> Top Three Sector - Most often invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_travel_hospitality" id="inlineRadio22q" value="Also invests in">
        <label class="form-check-label" for="inlineRadio22q">Also invests in</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sector_focus_travel_hospitality" id="inlineRadio32q" value="Doesn't look at">
        <label class="form-check-label" for="inlineRadio32q">Doesn't look at</label>
      </div>
      <br>
      <h6>Founder Outreach Preference</h6>
      <label for="sector-focus">Warm Intro</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_warm_intro" id="inlineRadio13q" value="Most Preferred">
        <label class="form-check-label" for="inlineRadio13q">Most Preferred</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_warm_intro" id="inlineRadio23" value="Okay">
        <label class="form-check-label" for="inlineRadio23q">Okay</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_warm_intro" id="inlineRadio33q" value="Least Preferred">
        <label class="form-check-label" for="inlineRadio33q">Least Preferred</label>
      </div>
      <br>
      <label for="sector-focus">Twitter DM</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_twitter_dm" id="inlineRadio15t" value="Most Preferred">
        <label class="form-check-label" for="inlineRadio15t">Most Preferred</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_twitter_dm" id="inlineRadio25t" value="Okay">
        <label class="form-check-label" for="inlineRadio25t">Okay</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_twitter_dm" id="inlineRadio35t"5t value="Least Preferred">
        <label class="form-check-label" for="inlineRadio35t">Least Preferred</label>
      </div>
      <br>
      <label for="sector-focus">Linkedin</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_linkedin" id="inlineRadio16t" value="Most Preferred">
        <label class="form-check-label" for="inlineRadio16t">Most Preferred</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_linkedin" id="inlineRadio26t" value="Okay">
        <label class="form-check-label" for="inlineRadio26t">Okay</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_linkedin" id="inlineRadio36t" value="Least Preferred">
        <label class="form-check-label" for="inlineRadio36t">Least Preferred</label>
      </div>
      <br>
      <label for="sector-focus">Investment Bankers</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_investment_bankers" id="inlineRadio17t" value="Most Preferred">
        <label class="form-check-label" for="inlineRadio17t">Most Preferred</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_investment_bankers" id="inlineRadio27t" value="Okay">
        <label class="form-check-label" for="inlineRadio27t">Okay</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_investment_bankers" id="inlineRadio37t" value="Least Preferred">
        <label class="form-check-label" for="inlineRadio37t">Least Preferred</label>
      </div>
      <br>
      <label for="sector-focus">Fund Application Form</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_fund_application_form" id="inlineRadio18t" value="Most Preferred">
        <label class="form-check-label" for="inlineRadio18t">Most Preferred</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_fund_application_form" id="inlineRadio28t" value="Okay">
        <label class="form-check-label" for="inlineRadio28t">Okay</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_fund_application_form" id="inlineRadio38t" value="Least Preferred">
        <label class="form-check-label" for="inlineRadio38t">Least Preferred</label>
      </div>
      <br>
      <label for="sector-focus">Cold Mail</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_cold_mail" id="inlineRadio19t" value="Most Preferred">
        <label class="form-check-label" for="inlineRadio19t">Most Preferred</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_cold_mail" id="inlineRadio29t" value="Okay">
        <label class="form-check-label" for="inlineRadio29t">Okay</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_cold_mail" id="inlineRadio39t" value="Least Preferred">
        <label class="form-check-label" for="inlineRadio39t">Least Preferred</label>
      </div>
      <br>
      <label for="sector-focus">Other</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_other" id="inlineRadio1qq" value="Most Preferred">
        <label class="form-check-label" for="inlineRadio1qq">Most Preferred</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_other" id="inlineRadio2qq" value="Okay">
        <label class="form-check-label" for="inlineRadio2qq">Okay</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="founder_preference_other" id="inlineRadio3qq" value="Least Preferred">
        <label class="form-check-label" for="inlineRadio3qq">Least Preferred</label>
      </div>
      <br>

      <label for="founder_preference_other_name">Other Name:</label>
      <input class="form-control" type="text" id="founder_preference_other_name" name="founder_preference_other_name" placeholder="Enter your name" >

      <label for="fund_application_form">Fund Application Form Link to Pitch*</label>
      <input class="form-control" type="text" id="fund_application_form" name="fund_application_form" placeholder="Enter your name" required>

      <label for="poc_mail">PoC Mail</label>
      <input class="form-control" type="text" id="poc_mail" name="poc_mail" placeholder="Enter your name" required>

      <label for="fund_overview">Fund Overview</label>
      <textarea class="form-control" id="fund_overview" name="fund_overview" placeholder="Enter your name" size="4" required></textarea>

      
      <br>
      <button type="submit">Next</button>
    </form>
  </div>

</body>
</html>